extends /layouts/_fullwidth

block head
  title Mentors &amp; Judges - Idea Starter


block display_title
  h1 Our Mentors, Advisors &amp; Judges
  h3 Our growing list of entrepreneurs who will be mentoring, teaching, and advising the ideas being developed.


block content

  - var advisors = [];

  - advisors.push({'name':'Daniel Ramamoorthy', 'tagline':'Entrepreneur, Govt & Startup Advisor, Investment Consultant and Radio Presenter', 'bio':'Daniel is an entrepreneur, business strategist, investment consultant, and adviser to both not-for-profits and for-profits. He is part of a 7 person panel advising Minister Richard Bruton (Jobs, Enterprise, and Innovation) on a National Policy on Entrepreneurship and has also consulted Ministry of Justice & Equality as well as Ministry of Finance. He is a regular speaker/lecturer on topics of business and innovation in local and international conferences and universities.', 'image':'dan', 'logo':'thetreehouse'});

  - advisors.push({'name':'Hesus Inoma', 'tagline':'ACII,  QFA,  Chartered Insurer,  Chartered Banker, Founder WeSavvy & Co-Founder of Idea Starter', 'bio':'Hesus Inoma has a BA Honours Degree in International Insurance & European Studies from University of Limerick and a Post-Grad in Financial Services from the Institute of Bankers, in conjunction with University College Dublin. Hesus is a seasoned financial services professional with strong business acumen and experience in Domestic and European insurance markets (Life and Non-Life) whom is passionate about improving digitalisation and customer experience within financial services. Hesus has vast industry experience in business development and data analytics. Hesus is founder of WeSavvy, a Pan-European Digital Insurance Platform that will lead the path to transforming the insurance industry\'s model from one of indemnification in the event of a claim to prevention and loss control. He is also one of the Co-Founders of Idea Starter.', 'image':'hesus', 'logo':'wesavvy'});


  - advisors.push({'name':'Patrick Guiney', 'tagline':'Founder of Student Slingshot Academy', 'bio':'Patrick is the founder of Student Slingshot Academy and working with some fantastic people on shaping how students approach education and their future. He has a passion for communications and media relations with over 5 years experience of delivering structured communication strategies for several organisations. Including: Irish Independent, The Irish Times, The Sunday Business Post, Metro Herald, The Irish Examiner, TV3, RTÉ, Silicon Republic, Lovin Dublin, Digital Times, The University Times, The Univesity Observer, College Tribune, The Edition, The Farmers Journal & The Huffington Post. Specialties: Communication Strategy, Media Strategy, Online & Social Media Strategy, Media Relations, Media Planning, Media Training, Writing for Media, Crisis Management, Public Relations, and Integrated Communication.', 'image':'paddy', 'logo':'studentslingshot'});

  - advisors.push({'name':'Hongbo Sun', 'tagline':'CEO & Co-Founder of SimpliFly', 'bio':'Hongbo is CEO & Co-Founder of SimpliFly, a Google Ventures backed company aiming to eliminate hassles from last minute airport shopping and to take the entire airport shopping experience to the next level. He has got years of experience in project and team management with previous positions such as President of AIESEC Ireland consisting of 100 members, Managing Director of Hello China which he grew the team to 19 employees eventually. As a current 3rd year computer science student in UCD, he is a finalist of Irish Student Entrepreneurship Forum 2015 and Global Student Entrepreneur Awards 2015.', 'image':'hongbo', 'logo':'simplifly'});

  - advisors.push({'name':'Rajsi Rana', 'tagline':'Mentor & Business Intelligence', 'bio':'Rajsi is a Computer Science and Business student at Trinity. Originally from New Delhi, Rajsi was the Student Ambassador for Education in Ireland in 2013 where she was felicitated for her work by Prime Minister, Enda Kenny. She spent this summer interning in Business Intelligence at Web Summit where she also helped design their flagship student scholar program. She was a key note speaker at Create:2014 and CultureTech’14 in Northern Ireland and also represented Trinity at the Elie Weisel foundation for Humanity’s Tomorrow’s Leaders conference. Rajsi is also a writer and writes often on Quora where her work has received over 1.1 million views till date and has been featured in Forbes and Business Insider.', 'image':'rajsi'});

  - advisors.push({'name':'Daniel Paul', 'tagline':'Entrepreneur, Developer, Designer, CEO of StudyNotes.ie, Identity Square & Co-Founder of Idea Starter', 'bio':'Daniel is an entrepreneur with a passion for all things tech. He has founded, runs and has been involved with multiple startups which include Identity Square, StudyNotes.ie, The Treehouse, WeSavvy, Simplifly, PropelAd and many others. He is also one of the Co-Founders of Idea Starter.', 'image':'daniel', 'logo':'isqre'});

  - advisors.push({'name':'Thomas Devine', 'tagline':'Entrepreneur & Co-Founder of Idea Starter', 'bio':'Thomas is a developer, designer and a passionate innovator. He is an active member in the start up community involved in both running and attending hackathons. He has years of experience in mobile hardware, management and has been an adviser to several companies and start-ups. He is also one of the Co-Founders of Idea Starter.', 'image':'tommy'});


  #advisors.people
    .row
      for advisor in advisors
        .col-md-4
          .row
            .col-md-4
              a(href='#' + advisor.image + '_modal' data-toggle='modal' data-target='#' + advisor.image + '_modal')
                img.img-thumbnail(src='images/people/' + advisor.image + '.jpg' alt=advisor.name)
            .col-md-8
              a(href='#' + advisor.image + '_modal' data-toggle='modal' data-target='#' + advisor.image + '_modal')
                h4 #{advisor.name}
              p #{advisor.tagline}

          .modal.fade(id=advisor.image + '_modal' role='dialog' aria-hidden='true' aria-labelledby=advisor.image + '_label')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                  h4.modal-title(id=advisor.image + '_label') #{advisor.name}
                .modal-body
                  .container-fluid
                    .row
                      .col-md-4
                        img.img-thumbnail(src='images/people/' + advisor.image + '.jpg' alt=advisor.name)
                        - if (typeof(advisor.logo) !== 'undefined') {
                        img.logo(src="images/logos/" + advisor.logo + ".png" alt=advisor.logo)
                        - }
                      .col-md-8
                        p #{advisor.bio}

      .col-md-12.text-center
        h6 Announcing more mentors, advisiors, judges &amp; supporters everyday...
